<!-- views/partials/navbar.ejs -->
<nav id="header">
    <div id="main-nav">
      <ul id="main-nav-list">
        <li class="main-nav-art">
          <a href="/art">art</a>
        </li>
        <li class="main-nav-design">
          <a href="/art">design</a>
        </li>
        <li class="main-nav-code">
          <a href="/code">code</a>
        </li>
        <li>
          <div id="ts-logo"  href="/">
            <a href="/" >
              <img id="logo-big" href="/" src="img/logoBig.png" style="opacity: 0;">
              <img id="logo-diamond" href="/" src="img/diamond.png" style="-webkit-transform: scale(0.5, 0.5);">
              <img id="logo-small" class="img-responsive" src="img/logoSmall.png">
            </a>
          </div>
        </li>
        <!--<li class="right-nav ">
          <a href="http://tara-siegel-blog.herokuapp.com">blog</a>
        </li>-->
        <li class="main-nav-about">
          <a href="/about">about</a>
        </li>
        <li class="main-nav-contact">
         <a href="/contact">contact</a>
        </li>
        <li class="main-nav-resume">
           <a href="resume_tarasiegel.pdf" value="Download as PDF" target="_blank">resume</a>
        </li>
      </ul>
  </div>
</nav>