.about-info {
	max-width: 90%;
	margin: 0 auto;
}

.about-photo {
	width: 47%;
	padding: 20px 0 0 20px;
    float: left;
}

.about-photo img {
	width: 100%;
}

.about-text--container {
	width: 49%;
    float: right;
}

.about-text {
    padding: 0 15px;
    font: 16px/25px Helvetica;
    color: #615c60;
    border-left: 1px solid rgba(0, 0 ,0, .2);
}

.about-text--leadin {
	font: 30px/40px Helvetica;
	font-style: italic;
	color: black;
}

.about-text a {
	color: #511F5C;
}

.about-text p {
	margin-bottom: 0;
}

.about-text .about-text-large {
	font-size: 25px;
}

.contact-list {
    width: 47%;
    display: table-cell;
    list-style: none;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
}

.contact-list-item:first-of-type {
    border-top: 1px solid rgba(0, 0 ,0, .2);
}

.contact-list-item {
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0 ,0, .2);
}


.contact-list-item a {
    text-decoration: none;
    color: #646464;
    font-style: italic;
}


.contact-list-item a:hover {
   color: black;
}



@media only screen and (max-width: 860px) {
	
}

@media only screen and (max-width: 730px) {

	.about-info {
		max-width: 100%;
	}

	.about-photo {
		width: calc(100% - 40px);
		padding: 20px;
	}

	.about-text {
		border-left: none;
	}

	.about-text--container {
	    width: calc( 100% - 20px);
	    margin-left: 10px;
	    float: initial;
	}
}