.header {
	position: fixed;
    display: inline-block;
    width: 90%;
    padding: 0 5%;
    height: 75px;
    top: 0px;
    left: 0;
    z-index: 1;
    text-transform: uppercase;
    background: #ccc4d0;
    border-bottom: 2px solid rgba(97,92,96,0.3);
}

.ts-logo {
	top: 13px;
	position: relative;
	float: left;
}

.logo-big {
	position: relative;
	left: 15px;
	width: 75px;
	z-index: 1 !important;
}

.main-nav {
	font-size: 30px;
	letter-spacing: -1px;
	top: -5px;
	z-index: 8;
	position: relative;
	text-align: left;
}

.main-nav ul li {
	padding: 0px 15px;
	list-style: none;
	float: left;
	font-weight: lighter;
}

.main-nav ul li.last{
	padding-right: 30px;
}
.main-nav ul li.first{
	padding-left: 0px;
}

.main-nav ul li a {
	display: block;
	color: #000;
	text-decoration: none;
}

.main-nav ul li a:hover {
	text-decoration: none;
	color: #532d3b;
}

.main-nav-list {
	position: relative;
	float: right;
	margin: 24px 0 20px;
}


.page__about .main-nav-about {
	font-weight: normal;
}
.page__code .main-nav-code {
	font-weight: normal;
}
.page__design .main-nav-design {
	font-weight: normal;
}


@media only screen and (max-width: 1020px) {
	.main-nav ul li {
		padding: 0 12px;
	    font-size: 32px;
	    padding-top: 5px;
	}
}

@media only screen and (max-width: 860px) {
	.main-nav ul li {
		padding: 0 10px;
	    font-size: 30px;
	    padding-top: 5px;
	}
}

@media only screen and (max-width: 730px) {
	.header {
		height: 55px;
	}

	.main-nav {
		top: -22px;
	}

	.main-nav ul li {
	    padding: 0px 9px;
	    font-size: 26px;
	    padding-top: 8px;
	}

	.ts-logo {
	    top: 30px;
	    position: relative;
	    float: initial;
	    text-align: center;
	}

	.logo-big {
	    width: 50px;
	    left: 0;
	}

	.right-nav {
		display: none;
	}

	.left-nav {
		display: none;
	}
}