<!-- views/pages/index.ejs -->
<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/navbar %>
    </header>

    <div id="content">
        <div id="container" class="container">
        <!--ABOUT ME-->
          <section id="about-info">
            <div class="container">
              <div class="about-photo">
                <img src="../../img/tara-siegel.jpg" alt="Hi! I'm Tara" >
              </div>
              <div id="about-text" >
                <p>  I graduated from the <a target="_blank" href="http://www.upenn.edu">University of Pennsylvania</a> in 2014 with a BSE in <a target="_blank" href="http://cg.cis.upenn.edu/dmd_program.html">Digital Media Design</a> (DMD).   Think of me as a computer science major, with a concentration in computer graphics and a fine arts minor on the side.  I am interested in expanding my technical and artistic talents through animation, front end software design, graphics and any other work of the sort. </br></br>
                <span id="scroll-point" class="graphic-header"></span>
                 When I am not locked up in my room or in the engineering buildings, I am usually running around Philadelphia or through the gorgeous Fairmont Park. Other hobbies / obsessions include working on personal projects, giraffes, hiking,  <a href="http://www.pennthetatau.com" target="_blank" alt="Click here to view Penn's Theta Tau Chapter website">Theta Tau</a>, The Black Keys, lychees, Lost, The Shins, Breaking Bad, Passion Pit and Dr. Seuss.</p>
                <div>
                  <a href="http://www.linkedin.com/in/siegeltara/" target="_blank" alt="Click here to my LinkedIn Profile"><img id="first-about-symbols" src="../../img/linkedinLogo.png" ></a>
                  <a href="http://www.facebook.com/tarafaye/" target="_blank" alt="Click here to my Facebook Profile"><img class="about-symbols" src="img/facebookLogo.png" ></a>
                  <a href="https://plus.google.com/+TaraSiegelFaye/posts" target="_blank" alt="Click here to my G+ Profile"><img class="about-symbols" src="../../img/googlePlusLogo.png" ></a>
                  <a href="http://www.twitter.com/tarafaye/" target="_blank" alt="Click here to my Twitter Profile"><img class="about-symbols" src="../../img/twitterLogo.png" ></a>
                  <a href="http://www.youtube.com/channel/UCReieWJwzLHyyum3q1B-BTQ" target="_blank" alt="Click here to my Youtube Profile"><img class="about-symbols" src="../../img/youtubeLogo.png" ></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>