<!-- views/pages/index.ejs -->
<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="page__about">
    <header>
      <% include ../partials/navbar %>
    </header>

    <div class="content">
        <div class="container clearfix about">
        <!--ABOUT ME-->
          <section class="about-info clearfix">
            <div class="about-photo">
              <img src="../../img/selfie.png" alt="Brogrammer Yo" >
            </div>

            <div class="about-text--container clearfix">
                <div class="about-text">
                    <p>  <span class="about-text--leadin">Hi, I'm Tara!<br>I am a developer and an artist.</span></br></br> In 2014 I graduated from the <a target="_blank" href="http://www.upenn.edu">University of Pennsylvania</a> with a BSE in <a target="_blank" href="http://cg.cis.upenn.edu/dmd_program.html">Digital Media Design</a> (DMD) and a minor in Fine Arts. Think of me as a software engineer / developer, with a concentration in computer graphics, front end development and design.
                    </br></br>
                    Currently, I am a Full Stack Developer for <a target="_blank" href="http://www.groupninemedia.com">Group Nine Media</a> where I am working on making a better and prettier experience to <a target="_blank" href="http://www.thrillist.com">Thrillist</a>, Now This, The Dodo and Seeker.  However, I am always interested in expanding my technical and artistic talents through front end software design, animation, graphics and any other work of the sort. </br></br>
                    When I'm not coding, cooking or watching Drama/SciFi TV shows, I am usually wandering around New York City, exploring and running throughout. Other hobbies/obsessions include working on personal projects, baking, giraffes, hiking, painting,  <a href="http://www.pennthetatau.com" target="_blank" alt="Click here to view Penn's Theta Tau Chapter website">Theta Tau</a>, taking selfies around the world, The Black Keys, lychees, bubble tea, Lost, Breaking Bad, Tame Impala, knitting, and my favorite doctors, Doctor Who and Dr. Seuss. Lets be in touch!</p>
                </div>
            </div>

            <ul class="contact-list">
                <li class="contact-list-item" >
                    LinkedIn: 
                    <a href="http://www.linkedin.com/in/siegeltara/" target="_blank" alt="Click here to my LinkedIn Profile">http://www.linkedin.com/in/siegeltara/</a>
                </li>
                <li class="contact-list-item" >
                    Email: 
                    <a href="mailto:tarafsiegel@gmail.com" target="_top" alt="Click here to send me an email">tarafsiegel@gmail.com</a>
                </li>
                <li class="contact-list-item" >
                    Facebook: 
                    <a href="http://www.facebook.com/tarafaye" target="_blank" alt="Click here to my Facebook Profile">www.facebook.com/tarafaye</a>
                </li>
                <li class="contact-list-item" >
                    Github: 
                    <a href="https://www.github.com/tarasiegel" target="_blank" alt="Click here to my Github Profile">www.github.com/tarasiegel</a>
                </li>
                <li class="contact-list-item" >
                    Twitter: 
                    <a href="http://www.twitter.com/tarafaye" target="_blank" alt="Click here to my Twitter Profile">www.twitter.com/tarafaye</a>
                </li>
            </ul>

          </section>
      </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>