<!-- views/pages/index.ejs -->
<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="page__about">
    <header>
      <% include ../partials/navbar %>
    </header>

    <div class="content">
        <div class="container clearfix about">
        <!--ABOUT ME-->
          <section class="about-info clearfix">
            <div class="about-photo">
              <img src="../../img/selfie.png" alt="Brogrammer Yo" >
            </div>

            <div class="about-text--container clearfix">
              <div class="about-text">
                <p>  <span class="about-text--leadin">Hi, I'm Tara! I am a developer and an artist.</span></br></br> In 2014 I graduated from the <a target="_blank" href="http://www.upenn.edu">University of Pennsylvania</a> with a BSE in <a target="_blank" href="http://cg.cis.upenn.edu/dmd_program.html">Digital Media Design</a> (DMD) and a minor in Fine Arts. Think of me as a software engineer / developer, with a concentration in computer graphics, front end development and design.
                </br></br>
                Currently, I am a Full Stack Developer for <a target="_blank" href="http://www.thrillist.com">Thrillist</a> where I am working on making a better and prettier experience.  However, I am always interested in expanding my technical and artistic talents through front end software design, animation, graphics and any other work of the sort. </br></br>
                When I'm not coding, cooking or watching Drama/SciFi TV shows, I am usually wandering around New York City, exploring and running throughout. Other hobbies/obsessions include working on personal projects, baking, giraffes, hiking, painting,  <a href="http://www.pennthetatau.com" target="_blank" alt="Click here to view Penn's Theta Tau Chapter website">Theta Tau</a>, taking selfies around the world, The Black Keys, lychees, bubble tea, Lost, Breaking Bad, Tame Impala, knitting, and my favorite doctors, Doctor Who and Dr. Seuss. Lets be in touch!</p>
              </div>
            </div>

            <div class="about-buttons">
                <a href="http://www.linkedin.com/in/siegeltara/" target="_blank" alt="Click here to my LinkedIn Profile"><img class="about-symbols first-about-symbols" src="../../img/linkedinLogo.png" ></a>
                <a href="mailto:tarafsiegel@gmail.com" target="_top" alt="Click here to send me an email"><img class="about-symbols" src="../../img/emailLogo.png" ></a>
                <a href="http://www.facebook.com/tarafaye/" target="_blank" alt="Click here to my Facebook Profile"><img class="about-symbols" src="img/facebookLogo.png" ></a>
                <a href="https://www.github.com/tarasiegel" target="_blank" alt="Click here to my Github Profile"><img class="about-symbols" src="../../img/githubLogo.png" ></a>
                <a href="http://www.twitter.com/tarafaye/" target="_blank" alt="Click here to my Twitter Profile"><img class="about-symbols" src="../../img/twitterLogo.png" ></a>
                <a href="http://www.youtube.com/channel/UCReieWJwzLHyyum3q1B-BTQ" target="_blank" alt="Click here to my Youtube Profile"><img class="about-symbols" src="../../img/youtubeLogo.png" ></a>
            </div>

          </section>
      </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>