<!-- views/pages/index.ejs -->
<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/navbar %>
    </header>

    <div id="content">
        <div id="container" class="container">
        <!--ABOUT ME-->
          <section id="about-info">
            <div id="about-container">
              <div class="about-photo">
                <img src="../../img/tara-siegel.jpg" alt="Hi! I'm Tara" >
              </div>
              <div id="about-text">
                <p>  Hey there! My name is Tara and I am a developer and an artist. In 2014 I graduated from the <a target="_blank" href="http://www.upenn.edu">University of Pennsylvania </a> with a BSE in <a target="_blank" href="http://cg.cis.upenn.edu/dmd_program.html">Digital Media Design</a> (DMD) and a minor in Fine Arts. Think of me as a computer scientist / developer, with a concentration in computer graphics, front end development and design.
                </br></br>
                Currently, I am a Full Stack Developer for Thrillist Media Group, working on the content side for <a target="_blank" href="http://www.thrillist.com">Thrillist</a> and <a target="_blank" href="http://www.supercompressor.com">Supercompressor</a>.  However, I am always interested in expanding my technical and artistic talents through front end software design, animation, graphics and any other work of the sort. </br></br>
                When I am not glued to my computer coding or watching every TV show, I am usually wandering around New York City, exploring and running throughout. Other hobbies/obsessions include working on personal projects, giraffes, hiking,  <a href="http://www.pennthetatau.com" target="_blank" alt="Click here to view Penn's Theta Tau Chapter website">Theta Tau</a>, The Black Keys, lychees, bubble tea, Lost, The Shins, Breaking Bad, knitting, Passion Pit and Dr. Seuss. Cheers!</p>
              </div>
            </div>
            <div class="about-buttons">
              <a href="http://www.linkedin.com/in/siegeltara/" target="_blank" alt="Click here to my LinkedIn Profile"><img id="first-about-symbols" src="../../img/linkedinLogo.png" ></a>
              <a href="http://www.facebook.com/tarafaye/" target="_blank" alt="Click here to my Facebook Profile"><img class="about-symbols" src="img/facebookLogo.png" ></a>
              <a href="https://plus.google.com/+TaraSiegelFaye/posts" target="_blank" alt="Click here to my G+ Profile"><img class="about-symbols" src="../../img/googlePlusLogo.png" ></a>
              <a href="http://www.twitter.com/tarafaye/" target="_blank" alt="Click here to my Twitter Profile"><img class="about-symbols" src="../../img/twitterLogo.png" ></a>
              <a href="http://www.youtube.com/channel/UCReieWJwzLHyyum3q1B-BTQ" target="_blank" alt="Click here to my Youtube Profile"><img class="about-symbols" src="../../img/youtubeLogo.png" ></a>
            </div>
          </div>
        </section>
      </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>