<!-- views/pages/index.ejs -->
<!doctype html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>
		<div id="container" class="container">
	        <!--ABOUT ME-->
	     	<ul id="art-grid" class="columns-3">
		        <% for (var i=0; i<12; i++) { %>
		        	<li>
						<img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
						<h3>Lovers and Madmen</h3>
						<p>Rendered using Autodesk Maya and VRay</p>
					</li>
		        <% } %>
		    </ul>
	    </div>

	    <footer>
	    	<% include ../partials/footer %>
	    </footer>
	</body>
</html>