<!-- views/pages/index.ejs -->
<!doctype html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>
		<div id="container" class="container">
	      <!--ABOUT ME-->
	      <ul id="art-grid" class="columns-3">
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
		      <li>
		        <img src="../../img/loversAndMadmenFinal_COMPOSITE.png">
		        <h3>Lovers and Madmen</h3>
		        <p>Rendered using Autodesk Maya and VRay</p>
		      </li>
	      <!--<span id="scroll-point" class="graphic-header"></span>-->
	    </div>

	    <footer>
	    	<% include ../partials/footer %>
	    </footer>
	</body>
</html>