<!-- views/pages/index.ejs -->
<!doctype html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header class="page__code">
			<% include ../partials/navbar %>
		</header>
		<div class="container" class="container code">
	     	<ul class="art-grid columns-3">
	     		<% codeData.forEach(function(proj) { %>
        			<li>
        				<a href="<%= proj.url %>" target="_blank">
							<img src="../../img/<%= proj.img_url %>">
						</a>
					</li>
		        <% }); %>
		    </ul>
	    </div>

	    <footer>
	    	<% include ../partials/footer %>
	    </footer>
	</body>
</html>