<!-- views/pages/index.ejs -->
<!doctype html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>
		<div class="container" class="container code">
			<div class="page-header code">
				<h2 class="art-title">Code & Data Design</h2>
				<div class="code-photo">
	              <img src="../../img/brogrammer.jpg" alt="Brogrammer Yo" >
	            </div>
			</div>
	     	<ul class="art-grid columns-3">
	     		<% codeData.forEach(function(proj) { %>
        			<li>
						<img src="../../img/<%= proj.url %>">
					</li>
		        <% }); %>
		    </ul>
	    </div>

	    <footer>
	    	<% include ../partials/footer %>
	    </footer>
	</body>
</html>