<!-- views/pages/index.ejs -->
<!doctype html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body class="page__design">
		<header>
			<% include ../partials/navbar %>
		</header>
		<div class="container" class="container art">
	     	<ul class="portfolio__grid columns-3">
	     		<% designData.forEach(function(proj) { %>
        			<li class="porfolio-item">
						<img src="<%= proj.url %>">
					</li>
		        <% }); %>
		    </ul>
	    </div>

	    <footer>
	    	<% include ../partials/footer %>
	    </footer>
	</body>
</html>