<!-- views/pages/index.ejs -->
<!doctype html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>
		<div id="container" class="container">
	      <!--ABOUT ME-->
	      <section id="home-picture">
	        <img id="top-picture" src="../../img/loversAndMadmenFinal_COMPOSITE.png">
	      </section>
	      <!--<span id="scroll-point" class="graphic-header"></span>-->
	    </div>

	    <footer>
	    	<% include ../partials/footer %>
	    </footer>
	</body>
</html>